[server]
headless = true
port = 8501
enableCORS = false
enableXsrfProtection = false

[browser]
gatherUsageStats = false

[theme]
primaryColor = "#14b8a6"
backgroundColor = "#000000"
secondaryBackgroundColor = "#1a1a1a"
textColor = "#e0e0e0"
font = "sans serif"
